apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: {{ nginx_namespace }}
spec:
  type: {{ nginx_service_type }}
  ports:
  - port: {{ nginx_service_port }}
    targetPort: {{ nginx_container_port }}
  selector:
    app: nginx